* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}
button, input, select, textarea { font: inherit; }

h1 {
    line-height: 1.15;
    margin-block: 0 2rem;
}