/* VARIABLES */

:root {
    --header-h: 5rem;

    --cue-width: 0.25rem;
    --hit-distance: 0.75rem;

    --background: black;
    --text: white;
    --accent: red;

    --weight-extra-light: 50;
    --weight-light: 150;
    --weight-medium: 450;
    --weight-bold: 900;
}

/* GLOBAL SETTINGS */

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Inter', Roboto, sans-serif;
    line-height: 1.5;
    background-color: var(--background);
    color: var(--text);
}
button, input, select, textarea { font: inherit; }

img {
  max-width: 100%;
  height: auto;
  display: block;
}

::selection {
    background-color: var(--accent);
    color: var(--background);
}

/* FONT */

/*  Font scale, 1.3
    0.77 / 1 / 1.3 / 1.69 / 2.2rem
    Margin scale, 4px
    0.5 / 0.75 / 1 / 1.25 / 1.5 | 2rem exclusive `h1` */

h1, h2, h3 { line-height: 1.15; }
h1 {
    font-size: 2.2rem;
    margin-block: 2rem 0.5rem;
}
h2 {
    font-size: 1.69rem;
    margin-block: 0.75rem;
}
h3 {
    font-size: 1.3rem;
    margin-block: 0 1rem;
}
p {
    font-size: 1rem;
    margin-block: 0 1.25rem;
}
a {
    font-size: 0.77rem;
    color: inherit;
}

/* LAYOUT */

.layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* HEADER */

.header {
    min-height: var(--header-h);
    padding-inline: 0.5rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    mix-blend-mode:difference;
    z-index: 100;
}

.header__title {
    position: relative;
    display: flex;
}
.header__title::after {
    content: "";
    position: absolute;
    inset: 0 0 0 50%;
    height: 100%;
    width: var(--cue-width);
    background-color: var(--text);
    translate: -50% calc(-1 * var(--hit-distance));
}

.header__description {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.header__text {
    position: relative;
    margin-block: 0;
    color: var(--text);
}

.text--bold { font-weight: var(--weight-bold); }
.text--medium { font-weight: var(--weight-medium); }
.text--light { font-weight: var(--weight-light); }
.text--extra-light { font-weight: var(--weight-extra-light); }

.text--italic { font-style: italic; }

.text--space { padding-left: 1ch; }

.icon {
    position: relative;
    width: 24px;
    aspect-ratio: 1;
    align-self: center;
}
@media(hover: hover) {
    .icon:hover {
        color: var(--background);
        background-color: var(--text);
        border: 50%;
    }
}

/* HERO IMAGE */

.photo-frame {
    height: calc(100svh - var(--header-h));
    padding: 0.75rem;
    padding-bottom: 4rem;
    background-color: white;
    overflow: hidden;
}

.photo-frame__hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DIVIDER */

.divider {
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
    padding-inline: 0.5rem;
}
.divider__title {
    position: relative;
    display: block;
    padding-block-end: 0.5rem;
}
.divider__title::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 0.25rem;
    background-color: var(--text);
}
.divider__text {
    display: block;
    text-align: end;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 1;

    padding: 0.5rem;
    gap: 0.5rem;
    overflow: hidden;
}

.grid__image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* FOOTER-HERO */

.footer-hero {
    aspect-ratio: 2 / 1;
    position: relative;
    margin-inline: 0.5rem;
}

.footer-hero__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-hero__container::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 45%;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to top, black 40%, transparent);
    pointer-events: none;
}

.footer-hero__text {
    font-size: clamp(0.75rem, 0.3125rem + 3vw, 2rem); /* 320px 0.75rem and 900px 2rem */ /* 0.03px or 3vw */
    max-width:100%;
    position: absolute;
    display: block;
    text-align: center;
    inset: auto 0 0 0;
    mix-blend-mode: difference;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.5rem;
    margin-block: 4rem;
    gap: 0.5rem;
}

.footer__avatar {
    width: 1.75rem;
    aspect-ratio: 1;
}