* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Inter', Roboto, sans-serif;
}
button, input, select, textarea {
    font: inherit;
}

:root {
    color-scheme: light dark;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group {
    border: 0;
    margin: 0;
    padding: 0;
    min-inline-size: 0;
}

.group__legend {
    font-weight: 600;
    padding: 0;
    padding-inline: 8px;
    float: left;
    width: 100%;
}

.group__body, .line__body {
    background-color: gainsboro;
    clear: both;
    display: flex;
    flex-direction: column;
    margin-inline: 8px;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
}

.form__actions {
    padding-inline: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group__radio, .group__checkbox, .line__checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    outline: 1px solid black;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.group__text, .line__text { padding: 8px; }
.group__radio { border-radius: 50%; }
.group__checkbox, .line__checkbox { border-radius: 8px; }

.group__text:hover, .line__text:hover, .group__radio:hover, .group__checkbox:hover, .line__checkbox:hover { outline-color: gray; }

.group__radio::before, .group__checkbox::before, .line__checkbox::before  {
    content: "";
    scale: 0;
    border-radius: 50%;
    background-color: purple;
    transition: scale 200ms ease-in;
}
.group__radio::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.group__checkbox::before, .line__checkbox::before {
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

.group__radio:checked::before, .group__checkbox:checked::before, .line__checkbox:checked::before {
    content: "";
    scale: 1;
}
.group__checkbox:checked::before, .line__checkbox:checked::before { content: "✓"; }

.group__text:focus-visible, .line__text:focus-visible, .group__radio:focus-visible, .group__checkbox:focus-visible, .line__checkbox:focus-visible, .button:focus-visible {
    outline-offset: 2px;
    outline: 2px solid plum;
}

.group__text, .line__text, .button {
    outline: 1px solid black;
    border: none;
    border-radius: 8px;
    background: white;
    padding: 8px;
}

.button--agree:hover { outline-color: greenyellow; }
.button--disagree:hover { outline-color: red; }